body {
  font-family: 'Questrial', sans-serif;
}

img {
  width: 77.5px;
  z-index: 4;
  position: absolute;
  left: 35%;
  top: 25%
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
}


.button {
  background-color: black;
  color: white;
  border-radius: 12px;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  width: 110px;
  height: 15px;
  position: relative;
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(0%,0%) ;
  transition: transform 0.5s ease;
  border: solid 1px black;
  z-index: 2;
}

.button:hover::before{
  transform: translate(3%,7%) ;
}

.button:hover::after{
  transform: translate(6%,14%) ;
}

.linked-in{
  position: absolute;
  left: 15%;
  top: 75%
}
/* .button:hover{
  outline: solid 1px black;
  outline-offset: 5px;
  transition: .2s;
  /* box-shadow: 8px 8px #99bdff; */

.box {
  border: solid 3px #3d40f5;
  background-color: white;
  border-radius: 12px;
  height: 399px;
  width: 246px;
  margin-top: 10px;
  position: absolute;
  z-index: 2;
}

.box-2 {
  border: solid 1px #3d40f5;
  background-color: white;
  border-radius: 12px;
  height: 399px;
  width: 246px;
  margin-top: 10px;
  position: absolute;
  transform: translate(6%,3%);
  z-index: 1;
}

.box-3 {
  border: solid 1px #3d40f5;
  background-color: white;
  border-radius: 12px;
  height: 399px;
  width: 246px;
  position: absolute;
  transform: translate(12%,8%);
  z-index: .5;
}

.inner-box {
  border: solid 1px #3d40f5;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  z-index: 4;
  transition: translate(45deg);
  position: absolute;
  left: 20%;
  top: 15%;
  transform: rotateY(0deg) rotate(45deg);
}

.inner-box-2 {
  border: solid 1px #3d40f5;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  z-index: 4;
  transition: translate(45deg);
  position: absolute;
  left: 20%;
  top: 15%;
  transform: rotateY(0deg) rotate(90deg);
}

.inner-box-3 {
  border: solid 1px #3d40f5;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  z-index: 4;
  transition: translate(45deg);
  position: absolute;
  left: 20%;
  top: 15%;
  transform: rotateY(0deg) rotate(67.5deg);
}

.inner-box-4 {
  border: solid 1px #3d40f5;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  z-index: 4;
  transition: translate(45deg);
  position: absolute;
  left: 20%;
  top: 15%;
  transform: rotateY(0deg) rotate(22.5deg);
}
